.red-btn,
.blue-btn {
	text-transform: uppercase;
	font-family: 'Smokum';
	letter-spacing: 0.1em;
	font-size: 2.5em;
	padding: 0.3em 0.3em 0.3em 0.4em;
	width: 230px;
	transition: 0.3s;
	color: white;
}

.red-btn:hover,
.blue-btn:hover {
	cursor: pointer;
	text-decoration: underline;
	text-shadow: 2px 2px var(--gray);
	transform: scale(1.1);
}

.red-btn {
	background-color: var(--red);
	border: 2px solid var(--darkred);
}

.red-btn:hover {
	background-color: var(--darkred);
}

.blue-btn {
	background-color: var(--blue);
	border: 2px solid var(--darkblue);
}

.blue-btn:hover {
	background-color: var(--darkblue);
}