.home-main {
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.home-main h2 {
	font-size: 5vw;
	text-transform: uppercase;
	margin-top: 0.5em;
	letter-spacing: 0.1em;
}

.home-main hr {
	border-top: 2px solid black;
	width: 28vw;
	animation: hr-stretch 2s;
}

img.star {
	padding: 0.5em;
}

.underline,
.btn-logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.instructions {
	width: 850px;
	max-width: 98%;
	margin: 0 auto 0 auto;
}

.main-btns {
	margin: 5em;
}

img.hamster-logo {
	max-height: 58vh;
	margin-bottom: 5vh;
}

.reload {
	height: 35vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.reload h2 {
	margin-top: 0em;
}

@keyframes hr-stretch {
	0% {width: 0vw;}
	100% {width: 28vw;}
}
