
nav {
	width: 100%;
	height: 10vh;
	background-color: var(--blue);
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

nav ul {
	width: 45vw;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style-type: none;
	font-family: 'Smokum';
	text-transform: uppercase;
	font-size: 2.5vw;
	margin: 0 auto 0 auto;
}

nav ul li a {
	color: white;
	text-decoration: none;
}

nav ul li {
	transition: 0.3s;
}

nav ul li:hover {
	text-decoration: underline;
	cursor: pointer;
	text-shadow: 2px 2px var(--gray);
	transform: translate(0px, -2px);
}

.active {
	text-decoration: underline;
	text-shadow: 2px 2px var(--gray);
}
