:root {
  --red: #DD6867;
  --darkred: #CB605F;
  --lightbrown: #F2DEB9;
  --blue: #6293AD;
  --gray: #8E7B7A;
  --yellow: #F8E185;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--lightbrown);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
